.form {
  padding: 40px;
  input {
    width: 150%;
    height: 22px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    margin-bottom: 30px;
  }
  label {
    font-size: 13px;
  }
  button {
    width: 150%;
    height: 40px;
    border-radius: 15px;
    background-color: blueviolet;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
  }
}
